@use 'variables';

.event {
    padding: 40px 0;

    &--festa {
        background-image: linear-gradient(variables.$blue1, variables.$blue2);
    }
    
    .container {
        display: flex;
        justify-content: center; // Centraliza horizontalmente o conteúdo dentro do container
        align-items: center; // Centraliza verticalmente o conteúdo dentro do container
        /* Alterar a direção do flex para coluna para centralizar a imagem e o texto um abaixo do outro */
        flex-direction: column;
    }

    &__image {
        max-width: 50%; // Definindo um tamanho máximo para a imagem
        width: 100%; // Garante que a imagem ocupe todo o espaço disponível no contêiner
        height: auto; // Mantém a proporção da imagem
        /* Centraliza horizontalmente a imagem dentro do container */
        margin: 0 auto;
    }

    &__details {
        flex: 1;
        text-align: center; // Centraliza o texto
        margin-bottom: 24px;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    &__description {
        font-size: 16px;
        line-height: 22px;
    }

    /* Corrigir o tamanho máximo para o media query */
    @media (max-width: 768px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
            /* Certificar-se de que a imagem continue centralizada no mobile */
            margin: 0 auto;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}